.projects-container {
    /* padding: 40px; */
    color: #03045e;
  }
  
  .projects-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #0077b6;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
  }
  